dist/
coverage/
reports/
prisma/client/

*.pem
.env*

.git/
.github/
.gitignore
README.md
node_modules/

bruno/

.dockerignore
.docker/*
!.docker/healthcheck.mjs
!.docker/README.md
!.docker/entrypoint.sh

.idea/
.run/
.vscode/
.tool-versions
.editorconfig

.prettierignore
.prettierrc

.markdownlint.json
.markdownlintignore

.eslintcache
eslint.config.mjs

test/
vitest.config.mts
