# Server Configuration
# The host address the server will bind to (Default: 0.0.0.0)
AUTH_SERVER_HOST="0.0.0.0"

# The port number the server will listen on (Range: 1024-65535, Default: 4350)
AUTH_SERVER_PORT="4350"

# CORS Configuration
# Comma-separated list of allowed origins
AUTH_SERVER_CORS_ORIGINS="https://localhost.www.dndmapp.dev:4200"

# SSL Configuration
# Required for local development environments
AUTH_SERVER_SSL_CERT_PATH="ssl-cert.pem"
AUTH_SERVER_SSL_KEY_PATH="ssl-key.pem"

# Database Configuration
AUTH_SERVER_DB_HOST="localhost"
AUTH_SERVER_DB_PORT="3306"
AUTH_SERVER_DB_USER="admin"
AUTH_SERVER_DB_PASSWORD="password123"
AUTH_SERVER_DB_SCHEMA="auth_db"

AUTH_SERVER_PASSWORD_PEPPER="password-pepper"

PRISMA_DB_HOST="mariadb-server"
PRISMA_DB_USER="prisma"
PRISMA_DB_PASSWORD="prisma-password"

# Connection String (Interpolated)
DB_URL="mysql://${PRISMA_DB_USER}:${PRISMA_DB_PASSWORD}@${PRISMA_DB_HOST}:${AUTH_SERVER_DB_PORT}/${AUTH_SERVER_DB_SCHEMA}"
