*

!*/

!*.json
!*.yaml
!*.yml
!*.ts
!*.[cm]ts
!*.js
!*.[cm]js

!.prettierrc

pnpm-*.yaml

.idea/
.run/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/mcp.json
!.vscode/settings.json
!.vscode/tasks.json

node_modules/

coverage/
dist/
reports/

bruno/
