# Server Configuration
# CORS Configuration
# Comma-separated list of allowed origins
AUTH_SERVER_CORS_ORIGINS="https://localhost.www.dndmapp.dev:4200"

# Database Configuration
AUTH_SERVER_DB_HOST="mariadb-server"
AUTH_SERVER_DB_PORT="3306"
AUTH_SERVER_DB_USER="admin"
AUTH_SERVER_DB_PASSWORD="password123"
AUTH_SERVER_DB_SCHEMA="auth_db"

PRISMA_DB_HOST="mariadb-server"
PRISMA_DB_USER="prisma"
PRISMA_DB_PASSWORD="prisma-password"

# Connection String (Interpolated)
DB_URL="mysql://${PRISMA_DB_USER}:${PRISMA_DB_PASSWORD}@${PRISMA_DB_HOST}:${AUTH_SERVER_DB_PORT}/${AUTH_SERVER_DB_SCHEMA}"
